#basket{
    padding: 4rem 0;
    .null{
        position: relative;
        .gray{
            background-color: #EAECEF;
            width:10rem;
            height: 10rem;
            border-radius: 100%;
            margin: auto;
        }
        .empty{
            position: absolute;
            z-index: 1;
            top: 70px;
            left: 50%;
            transform: translateX(-50%);
            .c-01{
                fill: #b7343e;
            }
            .c-02,.c-03{
                fill: #F04652;
            }
            .c-04{
                fill:#ab212b
            }
            .c-05,.c-06{
                fill: #c13942;
            }
        }
        h2{
            margin-top: 20px;
            font-size: 1.12rem;
            font-weight: 700;
            color: #ed174a;
            margin-bottom: 20px;
        }
        a{
            margin-top: 20px;
            display: inline-block;
            padding: 1rem 2.5rem;
            border-radius: 1.875rem;
            background-color: #233a95;
            color: white;
        }
    }
    .basketFull{
        display: none;
        .refresh{
            border-radius: 8px;
            a{
                font-size: 12px;
                color: white;
            }
        }
        .prod-select{
            border-bottom: 1px solid #DEE2E6;
            img{
                width: 90px;
                height: 90px;
            }
            .removeProduct{
                cursor: pointer;
            }
            .head{
                padding: 1rem;
                border-bottom: 1px solid #DEE2E6;
            }
        }
        .qty-input{
            button{
                border-radius: 100%;
                border: none;
                background-color: #EDEEF5;
                padding: 0.3rem;
            }
            input{
                text-align: right;
                border: none;
                background: white;
            }
        }
    }
}
@media(max-width:576px) {
    #basket{
      .basketFull{
          .price-category,.subtotal-category{
              display: none;
            }
            flex-wrap: wrap;
           i{
               background-color: #ab212b;
               color:white;
               padding: 0.5rem;
                border-radius: 100%;
           } 
      }  
    }
}