#recently{
    padding: 2rem 0;
}
#products{
    padding: 3rem 0;
    .leftFilter{
        h5{
            font-family: 'Dosis', sans-serif !important;       
            font-size: .9375rem;
            font-weight: 600;
            margin-bottom: 1.25rem;
        }
            ul{
                padding: 0;
                li{
                    margin-bottom: .625rem;
                    a{
                        input{
                            border-color: #71778e;
                        }
                        color:#71778e;
                        span{
                            margin-left: 10px;
                            font-size: .8125rem;
                        }
                    }
                }
            }
    }
    .right{
        .shop-view{
            background-color: #F7F8FD;
            padding: 1rem 0;
            border-radius: 8px;
            a{
                color: #71778e;
                margin: 0 10px;
            }
        }
        .right{
            div{
                font-size: .8125rem;
                position: relative;
            }
            #dropdownShowCount{
                opacity: 0;
                visibility: hidden;
                padding: 0.5rem 1rem !important;
                left: 35px;
                top: 35px;
                position: absolute;
                z-index: 11111;
                background-color: white;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
        }
    }
}
.reklamlar{
    display: none;
}
@media (max-width:576px){
    .widget-img{
        display: none;
    }
    #products{
        .leftFilter{
            display: none;
        }
        .reklamlar{
            display: block;
            border-radius: 8px;
                object-fit: cover;
            img{
                width: 100%;
                border-radius: 8px;
                object-fit: cover;
            }
        }
    }
}